.container{
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content:center;
  }
  #preloader{
    position:relative;
  }
  #preloader span{
    display:block;
    position:absolute;
    width:9px;
    height:5px;
    background:#9b59b6;
    animation:loading 3.5s infinite ease-in-out;
  }
  #preloader span:nth-child(2) {
    left: 11px;
    animation-delay:.2s
  }
  #preloader span:nth-child(3) {
    left: 22px;
    animation-delay:.4s
  }
  #preloader span:nth-child(4) {
    left: 33px;
    animation-delay:.6s
  }
  #preloader span:nth-child(5) {
    left: 44px;
    animation-delay:.8s
  }
  
  @keyframes loading{
    0%,100%{
     height:5px;
     background:#9b59b6;
     transform: translateY(0px)
    }
    50%{
      height:30px;
      background:#3498db;
     transform:translateY(-15px)
    }
  }